@page "{restaurantId:int}"

@* By the above we are maing sure this page is reached by adding an integer as a third element, which is needed *@
@* asp-route attribute makes sure to generate the relevant url format as needed *@
@* "{restaurantId?:int}"  makes the id restaurantId optional*@

@model OdeToFood.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.Restaurant.Name</h2>

@if(Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<div>
    Id: @Model.Restaurant.Id
</div>
<div>
    Location: @Model.Restaurant.Location
</div>
<div>
    Cuisine: @Model.Restaurant.Cuisine
</div>

<!-- asp-page sets the href -->
<a asp-page="./List" class="btn btn-default">All Restaurants</a>